<div class="container">
  <header class="header">
    <div class="title">Universal Business Language Form</div>
    <div class="sub-title">Easily Create, Edit, and View all UBL documents</div>
  </header>

  <div class="content">
    @if (showDescription) {
      <section class="description">
        <div class="card">
          Demonstration
        </div>

          <div>This web page showcases the foundational structure and usability of UBL forms, providing intuitive tools
            for working with all UBL document types.
          </div>
        <article>
          <p>
            <span class="high-light">Select a Document Type:</span>
            Choose a UBL document type (default is Invoice).</p>
          <p><span class="high-light">Create Button:</span> Open an empty form with required fields for the selected UBL
            document.</p>
          <p><span class="high-light">Load Sample Button:</span> Open a sample document and populate the form</p>

          <p class="high-light">Icon Guide</p>
          <ul class="none">
            <li>
              <ubl-three-dots></ubl-three-dots>
              expand the section.
            </li>
            <li>
              <ubl-expand></ubl-expand>
              load a component
            </li>
            <li>
              <ubl-up></ubl-up>
              collapse the section.
            </li>
            <li>
              <ubl-add></ubl-add>
              add a new item.
            </li>
            <li>
              <ubl-remove></ubl-remove>
              remove an item.
            </li>
          </ul>
        </article>

        <div class="card">
          Feedback
        </div>

        <div class="feedback">I created the UBL form in my spare time with the hope of making it beneficial for the industry. Before releasing it as an open-source project, I would greatly appreciate any feedback, suggestions, or constructive criticism to improve it further. </div>
        <div style="margin-top: 1rem">Your input is invaluable—thank you!
        </div>
        <div style="margin-top: 0.5rem; text-align: right"><a href= "mailto:info@effisync.net">info&#64;effisync.net</a></div>

      </section>

    }
    <section class="main-section">
      <div class="toolbar">
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="blue" class="bi bi-list"
               viewBox="0 0 16 16" (click)="onClickMenu()">
            <path fill-rule="evenodd"
                  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
          </svg>
        </div>
        <div>
          <button class="btn" (click)="create()" [ngClass]="{active: !isLoadSample}">Create</button>
        </div>
        <div class="doc-select">
          <label for="doc-select">Select a UBL document type:</label>

          <select name="docType" (change)="onSelectDoc($event.target)" [(ngModel)]="ublType" id="doc-select">
            @for (docType of docTypes; track docType) {
              <option value="{{ docType }}">{{ docType }}</option>
            }
          </select>
        </div>

        <div>
          <button class="btn" (click)="loadSample()" [ngClass]="{active: isLoadSample}">Load Sample</button>
        </div>
      </div>

      <div class="ubl-panel">

        <section [ngClass]="showDescription ? 'ubl-form-shadow' : 'ubl-form'">
          <!--<ubl-document [docTypeName]="ublType" [model]="data" (onDataChange)="onDataChange($event)"></ubl-document>  -->
          <ng-container #container></ng-container>
        </section>

        <aside class="json-result">
          <fieldset>
            <legend>JSON Result</legend>
            @if (isLoadingSample()) {
              <div class="spinner-container">
                <div class="loader"></div>
              </div>
            }
            <pre>{{ removeEmpty(jsonResult) | json }}</pre>

          </fieldset>
        </aside>
      </div>
    </section>
  </div>


  <footer class="footer">
    <div> UBL Form &#64; {{ year }} </div>
  </footer>

</div>




