<!--<ubl-group></ubl-group>-->
<!--<from [formGroup]="formGroup">-->
<!--  <ubl-input-->
<!--    [customErrorMessages]="errorMessages"-->
<!--    label="Hello"-->
<!--    inputId="myId"-->
<!--    [formControl]="formGroup.controls.name"-->
<!--    [inputType]="'datetime-local'"-->
<!--  ></ubl-input>-->
<!--</from>-->
<!--  <ubl-doc-->
<!--  [docTypeName]="'ApplicationResponse'">-->
<!--  </ubl-doc>-->

<!-- main test-->
<ubl-document [docTypeName]="ublType" [model]="data" ></ubl-document>



<!--<ubl-aggregate [title]="'test'"></ubl-aggregate>-->
