// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

  @media only screen and (max-width: 75em) {
    font-size: 60%;
  }
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.2rem;
}

@mixin set-divider($color) {
  width: 1px;
  background: $color;
  margin-inline: 0.3rem;
}

// basic container
//.basic-container {
//  display: grid;
//  grid-template-columns: max(1rem) 1fr;
//  padding: 0px 0.4rem;
//  margin-bottom: 0.2rem;
//
//  .top-item {
//    grid-column: span 2;
//    display: flex;
//    flex-direction: row;
//    justify-content: space-between;
//
//    .title {
//      font-size: 1.4rem;
//      font-weight: 700;
//    }
//  }
//
//  .divider {
//    @include set-divider(#5643fa);
//  }
//
//  .items {
//    display: flex;
//    flex-direction: column;
//    gap: 0.4rem;
//  }
//}

// aggregate container
//.aggregate-container {
//  display: grid;
//  grid-template-columns: max(1rem) 1fr;
//  padding: 0px 0.4rem;
//  margin-bottom: 0.2rem;
//
//  .top-item {
//    grid-column: span 2;
//    display: flex;
//    flex-direction: row;
//    justify-content: space-between;
//
//    .title {
//      font-size: 1.4rem;
//      font-weight: 700;
//    }
//  }
//
//  .divider {
//    @include set-divider(#ffb900);
//  }
//
//  .items {
//    display: flex;
//    flex-direction: column;
//    gap: 0.4rem;
//  }
//}

//form input
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 0.2rem;
  border-radius: 2px;
  background-color: rgba(#f7f7f7, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all .3s;
}

.form__input:required {
  border-right: 1px solid #ff7730;
}

.form__input:valid {
  border-right: none;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #55c57a;
}

.form__input:focus:invalid {
  border-bottom: 2px solid #ff7730;
}

.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__label {
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 0.2rem;
  margin-top: 1px;
  margin-bottom: 0px;
  display: block;
}


